<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>lagrange</string>
		<key>lastEditingUserName</key>
		<string>brichard</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2021-07-14T20:45:36Z</date>
	<key>dataHash</key>
	<string>da39a3ee5e6b4b0d3255bfef95601890afd80709</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2021-07-14T20:45:50Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>15cd7cb7-29f3-4ee8-9d88-d74ef0b2905a</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
